body{
    background-color : #3f2475;
    color: white;
}
h1{
    font-family :"Helvetica", sans-serif;
}
img{
    height: 50px;
    width: 50px;
    -webkit-filter: invert(100%);
        filter: invert(100%);
}
#giphy{
height: 200px;
    width: 200px;
}
.space{
    margin-bottom: 5%;
}