<div class = "container">
<div class = "row">




<div class="col-md-12 text-center" >
<h1>$hero.getName()</h1>
<hr>
<h3>Age: $hero.getAge()</h3>
<h3>Power: $hero.getPower()</h3>
<h3>Weakness: $hero.getWeakeness()</h3>
<hr>
<h5 class="card-text text-muted"><em>$hero.getCatchPhrase()</em> </h5>

</div>
</div>
</div>