
<hr>
<br>
<p>Welcome to the Hero Squad application.
Here you will be able to add your awesome hero squad and its awesome hero!!</p>

<button class="btn btn-primary" ><a href="/squads" class = "text-white">  SQUADS </a></button>